@(articles: List[models.Article], activeSort: String)(implicit r: RequestHeader)

@main("ReactiveMongo Demo - Articles") {
  <div class="mb-2">
    <h2>Available articles</h2>

    <ul class="list-inline">
      <li class="list-inline-item">
        <a class="btn btn-primary"
           href="@routes.Articles.showCreationForm">Create</a>
      </li>

      <li class="list-inline-item">
        <div class="dropdown ">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="sort-by" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort by
          </button>

          <div class="dropdown-menu" aria-labelledby="sort-by">
            <a class="dropdown-item@if(activeSort == "title"){ active}" href="@routes.Articles.index?sort=title">Title (asc)</a>
            <a class="dropdown-item@if(activeSort == "-title"){ active}" href="@routes.Articles.index?sort=-title">Title (desc)</a>

            <a class="dropdown-item@if(activeSort == "publisher"){ active}" href="@routes.Articles.index?sort=publisher">Publisher (asc)</a>
            <a class="dropdown-item@if(activeSort == "-publisher"){ active}" href="@routes.Articles.index?sort=-publisher">Publisher (desc)</a>

            <a class="dropdown-item@if(activeSort == "creationDate"){ active}" href="@routes.Articles.index?sort=creationDate">Creation (asc)</a>
            <a class="dropdown-item@if(activeSort == "-creationDate"){ active}" href="@routes.Articles.index?sort=-creationDate">Creation (desc)</a>

            <a class="dropdown-item@if(activeSort == "updateDate"){ active}" href="@routes.Articles.index?sort=updateDate">Update (asc)</a>
            <a class="dropdown-item@if(activeSort == "-updateDate"){ active}" href="@routes.Articles.index?sort=-updateDate">Update (desc)</a>

            <a class="dropdown-item@if(activeSort == "none"){ active}" href="@routes.Articles.index">None</a>

          </div>
        </div>
      </li>
    </ul>
  </div>

  @if(articles.isEmpty) {
    <p>No articles available yet.</p>
  } else {
    <div class="list-group">
      @articles.map { article =>
      <li class="list-group-item">
        <a href="@routes.Articles.showEditForm(article.id.get)">@article.title</a> <em>by @article.publisher</em> (<span class="d-none d-md-inline">last modified: </span>@article.updateDate.map(u => org.joda.time.format.DateTimeFormat.forPattern("MMM dd, yyyy").print(u)).orElse(Some("n/a"))) <a href="@helper.CSRF(routes.Articles.delete(article.id.get))" class="btn btn-sm btn-danger delete">delete</a></li>
      }

    </div>
  }
}
