@(id: Option[String], form: Form[models.Article], files: List[(reactivemongo.api.bson.BSONObjectID, reactivemongo.api.gridfs.ReadFile[reactivemongo.api.bson.BSONValue, reactivemongo.api.bson.BSONDocument])])(implicit r: RequestHeader, lang: play.api.i18n.Messages)

@main("ReactiveMongo Demo - Edit an article") {
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-2">
      <h2>
        @if(id.isEmpty) {
          Add
        } else {
          Edit
        } an article</h2>

      @if(form.errors.nonEmpty) {
      <div class="alert alert-danger" role="alert">
        There are some errors
      </div>
      }

      @helper.form(action = helper.CSRF(if(id.isEmpty) routes.Articles.create else routes.Articles.edit(id.get)), Symbol("class") -> "form-horizontal") {
        @helper.inputText(form("title"))
        @helper.inputText(form("publisher"))
        @helper.textarea(form("content"))

        <button class="btn btn-primary" type="submit">Save</button>
      }
    </div>

    @id.map { aid =>
      <div class="col">
        <h2>Attachments</h2>

        @if(files.nonEmpty) {
          <ul class="list-unstyled">
            @files.map { file =>
              <li>
                <a href="@helper.CSRF(routes.Articles.getAttachment(file._1))">@file._2.filename</a>
                <span class="d-none d-md-inline">
                  (<a target="_blank" href="@helper.CSRF(routes.Articles.getAttachment(file._1))?inline=true">inline</a>)
                </span>
                <a class="delete btn btn-secondary btn-sm btn-danger" href="@helper.CSRF(routes.Articles.removeAttachment(file._1))">Delete</a>
              </li>
            }
          </ul>
        }

        @helper.form(action = helper.CSRF(routes.Articles.saveAttachment(aid)), Symbol("enctype") -> "multipart/form-data") {
          <div class="custom-file mb-2">
            <input type="file" name="attachment" id="attachment"
                   class="custom-file-input">
            <label class="custom-file-label" for="attachment">
              Add attachment</label>
          </div>

          <button type="submit" class="btn btn-secondary">Upload</button>
        }
      </div>
    }
  </div>
}
